@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .grad-text {
      background: linear-gradient(40deg, #ec325d 0%, #f38dad 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }